---
import Badge from "./Badge.astro";

const { title, link, img, alt, description, technologies } = Astro.props;
---

<a href={link} target="_blank">
  <img src={img} alt={alt} />
  <div class="card-text">
    <h3>{title}</h3>
    <p>
      {description}
    </p>
    <div class="text-secondary-color technologies">
      {technologies.map((technology: string) => <Badge>{technology}</Badge>)}
    </div>
  </div>
</a>

<style lang="scss">
  @import "../styles/colors.scss";

  a {
    display: flex;
    align-content: center;
    position: relative;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: $project-card-background;
    border: 2px solid $project-card-background;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.18);
    transition:
      box-shadow 0.2s ease,
      transform 0.2s ease;
  }

  a:hover {
    box-shadow: 0 4px 21px -12px rgba(228, 228, 228, 0.66);
    transform: translate(0px, -3px);
  }

  a:hover > img {
    transform: scale(1.1) rotate(1deg);
  }

  .card-text {
    z-index: 2;
    padding: 0.6em;
  }

  .card-text::before {
    content: "";
    position: absolute;
    display: block;
    background: $project-card-background;
    top: -22px;
    height: 240px;
    left: 310px;
    width: 60px;
    transform: rotate(8deg);
    z-index: -1;
  }

  h3 {
    margin: 0;
  }

  img {
    width: 100%;
    max-width: 340px;
    transition: transform 0.2s ease;
  }

  p {
    color: $text-grey-500;
    width: 100%;
    max-width: 600px;
  }

  .technologies {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 874px) {
    .card-text::before,
    img {
      display: none;
    }
  }
</style>
